.grid1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.grid2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.grid3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
